Repository FppEpitech/AREA, pull requests merged in 2024-12, with the labels that each got.

#56 FEAT: Init structure of frontend (FNW-14)
  react-frontend/.gitignore
  react-frontend/README.md
  react-frontend/package-lock.json
  react-frontend/package.json
  react-frontend/public/favicon.ico
  react-frontend/public/index.html
  react-frontend/public/logo192.png
  react-frontend/public/logo512.png
  react-frontend/public/manifest.json
  react-frontend/public/robots.txt
  react-frontend/src/components/.gitkeep
  react-frontend/src/guards/.gitkeep
  react-frontend/src/index.css
  react-frontend/src/index.tsx
  react-frontend/src/logo.svg
  react-frontend/src/pages/App/App.css
  react-frontend/src/pages/App/App.test.tsx
  react-frontend/src/pages/App/App.tsx
  react-frontend/src/react-app-env.d.ts
  react-frontend/src/reportWebVitals.ts
  react-frontend/src/services/.gitkeep
  react-frontend/src/setupTests.ts
  react-frontend/tsconfig.json
Labels: Initialization, Frontend

#59 FEAT: Create a registerlogin page html (FNW-17)
  react-frontend/package-lock.json
  react-frontend/package.json
  react-frontend/src/pages/App/App.tsx
  react-frontend/src/pages/Login/login.tsx
  react-frontend/src/pages/Signup/signup.tsx
Labels: Feature, Frontend

#62 FEAT: Create the navbar HTML (FNW-32)
  react-frontend/src/assets/logo58.png
  react-frontend/src/components/.gitkeep
  react-frontend/src/components/Navbar/navbar.tsx
  react-frontend/src/pages/Explore/explore.tsx
Labels: Feature, Frontend

#65 FEAT: Architecture of discord reaction webhook
  express-backend/action/sendDiscordMessage.ts
  express-backend/index.ts
  express-backend/package-lock.json
  express-backend/package.json
  express-backend/scrypt/createActionTemplate.ts
  express-backend/tsconfig.json
Labels: Backend, Feature

#64 FEAT: Create navbar css (FNW-31)
  package-lock.json
  react-frontend/android/.idea/misc.xml
  react-frontend/android/gradle/wrapper/gradle-wrapper.properties
  react-frontend/package-lock.json
  react-frontend/package.json
  react-frontend/public/index.html
  react-frontend/src/assets/navbar/menu.svg
  react-frontend/src/assets/navbar/user.svg
  react-frontend/src/components/Navbar/navbar.tsx
  react-frontend/src/index.css
  react-frontend/src/pages/Login/login.tsx
  react-frontend/tailwind.config.js
Labels: Feature, Frontend

#67 FEAT: Setup first service actions and triggers
  express-backend/.gitignore
  express-backend/cron/CronClass.ts
  express-backend/cron/CronInit.ts
  express-backend/cron/WeatherCron.ts
  express-backend/index.ts
  express-backend/package-lock.json
  express-backend/package.json
Labels: enhancement, Backend, Feature

#71 FEAT: Register/login page link back (FNW-19)
  express-backend/index.ts
  express-backend/package-lock.json
  express-backend/package.json
  express-backend/prisma/migrations/20241206114958_/migration.sql
  express-backend/prisma/schema.prisma
  express-backend/routes/account.ts
  react-frontend/package-lock.json
  react-frontend/package.json
  react-frontend/src/pages/Login/login.tsx
  react-frontend/src/pages/Signup/signup.tsx
  react-frontend/src/services/auth/auth.tsx
Labels: Backend, Feature, Frontend

#79 FEAT: Add creation of plums (FNW-66)
  express-backend/cron/CronClass.ts
  express-backend/cron/CronInit.ts
  express-backend/cron/UpdateCron.ts
  express-backend/cron/WeatherCron.ts
  express-backend/index.ts
  express-backend/routes/plums.ts
  express-backend/scrypt/createTriggerTemplate.ts
  react-frontend/package-lock.json
  react-frontend/package.json
Labels: enhancement, Backend

#76 FEAT: Create the 'create' page HTML (FNW-69)
  react-frontend/src/pages/App/App.tsx
  react-frontend/src/pages/Create/create.tsx
Labels: Feature, Frontend

#84 FEAT: Create route for action and trigger template (FNW-73)
  express-backend/index.ts
  express-backend/routes/action.ts
  express-backend/routes/plums.ts
  express-backend/routes/trigger.ts
Labels: enhancement, Backend

#87 FEAT: Added OAuth2 authentification spotify
  express-backend/routes/plums.ts
  express-backend/routes/spotify.ts
Labels: enhancement, Backend, Feature

#85 FEAT: backend tests (FNW-77/FNW-75)
  express-backend/.gitignore
  express-backend/index.ts
  express-backend/middlewares/isLoggedIn.ts
  express-backend/package-lock.json
  express-backend/package.json
  express-backend/routes/account.ts
  express-backend/tests/index.test.ts
  express-backend/tests/test.sh
  package-lock.json
Labels: enhancement, Backend

#88 FEAT: Create 'create' page link back (FNW-70)
  react-frontend/src/components/Navbar/navbar.tsx
  react-frontend/src/pages/Create/create.tsx
  react-frontend/src/services/.gitkeep
  react-frontend/src/services/Plums/plums.tsx
Labels: Feature, Frontend

#86 FEAT: Finish the link between the actions and the triggers
  express-backend/action/sendDiscordMessage.ts
  express-backend/cron/UpdateCron.ts
  express-backend/routes/plums.ts
Labels: enhancement, Backend

#77 FEAT: Create a register/login page css (FNW-18)
  express-backend/package-lock.json
  react-frontend/src/assets/plumpy_logo.png
  react-frontend/src/assets/waterfall.png
  react-frontend/src/pages/Login/login.tsx
  react-frontend/src/pages/Signup/signup.tsx
Labels: Feature, Frontend

#91 FEAT: Create the 'myPlums' page HTML (FNW-27)
  react-frontend/package-lock.json
  react-frontend/src/components/Navbar/navbar.tsx
  react-frontend/src/pages/App/App.tsx
  react-frontend/src/pages/MyPlums/myPlums.tsx
Labels: Feature, Frontend

#94 FEAT: Implement docker compose build & up (FNW-36/FNW-37/FNW-38/FNW-39/FNW-40/FNW-41/FNW-42/FNW-43)
  docker-compose.yml
  express-backend/Dockerfile
  express-backend/about.json
  express-backend/index.ts
  react-frontend/.gitignore
  react-frontend/Dockerfile
  react-frontend/package.json
  react-frontend/src/index.tsx
  react-frontend/src/pages/App/App.tsx
  react-frontend/src/pages/Client_apk/Client_apk.tsx
  shared/.gitkeep
Labels: Initialization, Feature, Continuous DIntegration

#101 FEAT: Handle responsive login/register page for mobile (FNW-80)
  react-frontend/android/.idea/deploymentTargetSelector.xml
  react-frontend/src/components/IsMobile/isMobile.tsx
  react-frontend/src/pages/Login/login.tsx
  react-frontend/src/pages/Login/mobileLogin.tsx
  react-frontend/src/pages/Signup/mobileSignup.tsx
  react-frontend/src/pages/Signup/signup.tsx
Labels: Frontend, Improvement

#113 FEAT: Create template spotify song liked
  express-backend/action/sendDiscordMessage.ts
  express-backend/cron/CronClass.ts
  express-backend/cron/SpotifyCron.ts
  express-backend/cron/UpdateCron.ts
  express-backend/cron/WeatherCron.ts
  express-backend/index.ts
  express-backend/package-lock.json
  express-backend/package.json
  express-backend/prisma/migrations/20241217145043_user_id_added_action_and_trigger/migration.sql
  express-backend/prisma/schema.prisma
  express-backend/routes/plums.ts
  express-backend/routes/spotify.ts
  express-backend/scripts/createActionTemplate.ts
  express-backend/scripts/createTriggerTemplate.ts
Labels: enhancement, Backend, Feature

#115 FEAT: Add a names in db for plums
  express-backend/cron/SpotifyCron.ts
  express-backend/prisma/migrations/20241218164956_add_plum_name/migration.sql
  express-backend/prisma/schema.prisma
  express-backend/routes/plums.ts
  express-backend/routes/spotify.ts
Labels: enhancement, Backend, Feature
