Repository FppEpitech/AREA, pull requests merged in 2025-01, with the labels that each got.

#118 FEAT: Create CSS Explore page (FNW-22)
  react-frontend/src/components/Explore/ExploreContent.tsx
  react-frontend/src/components/Explore/ExploreNavbar.tsx
  react-frontend/src/pages/Explore/explore.tsx
Labels: Feature, Frontend

#121 FEAT: Create myareas page css (FNW-28)
  react-frontend/src/assets/myPlums/feather.svg
  react-frontend/src/assets/myPlums/filter.svg
  react-frontend/src/components/Filter/Filter.tsx
  react-frontend/src/components/Filter/ServiceDrop.tsx
  react-frontend/src/components/Filter/StatusDrop.tsx
  react-frontend/src/pages/MyPlums/myPlums.tsx
Labels: Feature, Frontend

#124 FEAT: Safe trigger & action creation at server start
  express-backend/index.ts
  express-backend/prisma/migrations/20250106145241_/migration.sql
  express-backend/prisma/schema.prisma
  express-backend/scripts/createActionTemplate.ts
  express-backend/scripts/createTriggerTemplate.ts
  express-backend/scripts/initTemplates.ts
Labels: enhancement, Backend

#122 FEAT: Add backend tests run to Github Actions (FNW-65)
  .github/workflows/tests.yml
  express-backend/package-lock.json
  express-backend/package.json
  express-backend/tests/clear_tests.sh
  express-backend/tests/index.test.ts
  express-backend/tests/test.sh
Labels: Backend, Continuous DIntegration, Tests

#134 FEAT: Service page HTML (FNW-102)
  react-frontend/src/pages/App/App.tsx
  react-frontend/src/pages/Services/services.tsx
Labels: Feature, Frontend

#137 FEAT: Secure routing for logged users (FNW-107)
  react-frontend/src/guards/.gitkeep
  react-frontend/src/guards/authGuard.tsx
  react-frontend/src/pages/App/App.tsx
  react-frontend/src/services/auth/auth.tsx
Labels: Feature, Frontend

#136 FEAT: Complete weather trigger and rework template
  express-backend/action/sendDiscordMessage.ts
  express-backend/cron/CronClass.ts
  express-backend/cron/UpdateCron.ts
  express-backend/cron/WeatherCron.ts
  express-backend/prisma/migrations/20250107140723_/migration.sql
  express-backend/prisma/schema.prisma
  express-backend/routes/plums.ts
  express-backend/scripts/createActionTemplate.ts
  express-backend/scripts/createTriggerTemplate.ts
  express-backend/scripts/initTemplates.ts
Labels: enhancement, Backend, Feature

#139 FEAT: Create create page css (FNW-71/FNW-68)
  .gitignore
  react-frontend/src/assets/create/check.svg
  react-frontend/src/assets/create/dropDown.svg
  react-frontend/src/assets/create/dropDownUp.svg
  react-frontend/src/components/Create/templatesTypes.tsx
  react-frontend/src/components/Create/workflowSetup.tsx
  react-frontend/src/components/Create/workflowStep.tsx
  react-frontend/src/components/Navbar/navbar.tsx
  react-frontend/src/pages/App/App.tsx
  react-frontend/src/pages/Client_apk/Client_apk.tsx
  react-frontend/src/pages/Create/create.tsx
  react-frontend/src/services/Plums/plums.tsx
Labels: Feature, Frontend

#142 FEAT: Link back to myPlums page (FNW-29/FNW-26)
  react-frontend/src/pages/MyPlums/myPlums.tsx
  react-frontend/src/services/Plums/plums.tsx
Labels: Feature, Frontend

#143 FEAT: Service page css (FNW-103)
  react-frontend/src/pages/Services/services.tsx
Labels: Feature, Frontend

#150 FEAT: Event when create plum (FNW-112)
  react-frontend/src/pages/App/App.tsx
  react-frontend/src/pages/Create/create.tsx
Labels: Feature, Frontend

#154 REFACTOR: Completly changed the navbar's CSS (FNW-111)
  react-frontend/public/index.html
  react-frontend/src/assets/navbar/box.svg
  react-frontend/src/assets/navbar/compas.svg
  react-frontend/src/assets/navbar/menu.svg
  react-frontend/src/assets/navbar/plus.svg
  react-frontend/src/assets/navbar/settings.svg
  react-frontend/src/components/Navbar/navbar.tsx
  react-frontend/tailwind.config.js
Labels: Frontend, Improvement

#167 FEAT: service page link back (FNW-104)
  express-backend/scripts/createServices.ts
  react-frontend/package.json
  react-frontend/src/pages/Services/services.tsx
Labels: Feature, Frontend

#166 REFACTOR: Refont create page css (FNW-121)
  react-frontend/src/components/Create/workflowStep.tsx
  react-frontend/src/components/Footer/Footer.tsx
  react-frontend/src/components/Navbar/navbar.tsx
  react-frontend/src/pages/Create/create.tsx
  react-frontend/src/pages/MyPlums/myPlums.tsx
Labels: Frontend, Improvement

#173 FEAT: Implement filter and use it button in services page (FNW-125)
  react-frontend/src/components/Create/workflowStep.tsx
  react-frontend/src/pages/Create/create.tsx
  react-frontend/src/pages/Services/services.tsx
Labels: Feature, Frontend

#175 FEAT: Create the welcome page for new users (FNW-106)
  react-frontend/src/assets/icons/blackUser.svg
  react-frontend/src/assets/icons/phone.svg
  react-frontend/src/assets/icons/whiteCheck.svg
  react-frontend/src/assets/icons/whitePhone.svg
  react-frontend/src/assets/icons/whiteUser.svg
  react-frontend/src/assets/welcome/clock.svg
  react-frontend/src/assets/welcome/discord.svg
  react-frontend/src/assets/welcome/mail.svg
  react-frontend/src/assets/welcome/naolib.svg
  react-frontend/src/assets/welcome/spotify.svg
  react-frontend/src/assets/welcome/weather.svg
  react-frontend/src/assets/welcome/welcome_bg.png
  react-frontend/src/assets/welcome/welcome_lg_bg.png
  react-frontend/src/components/IsMobile/isMobile.tsx
  react-frontend/src/components/Navbar/navbarWelcome.tsx
  react-frontend/src/guards/authGuard.tsx
  react-frontend/src/pages/App/App.tsx
  react-frontend/src/pages/Welcome/welcome.tsx
Labels: Feature, Frontend

#181 FEAT: Added connection route in template
  express-backend/scripts/createActionTemplate.ts
  express-backend/scripts/createTriggerTemplate.ts
Labels: enhancement, Backend

#180 Feat: Create clock triggers
  express-backend/cron/TimeCron.ts
  express-backend/cron/UpdateCron.ts
  express-backend/scripts/createServices.ts
  express-backend/scripts/createTriggerTemplate.ts
  express-backend/scripts/initTemplates.ts
Labels: enhancement, Backend

#183 FEAT: Handle user logout (FNW-128)
  react-frontend/src/assets/icons/setting.svg
  react-frontend/src/components/Navbar/navbar.tsx
  react-frontend/src/services/auth/auth.tsx
Labels: Feature, Frontend

#184 FEAT: Create the contact page (FNW-127)
  react-frontend/src/pages/App/App.tsx
  react-frontend/src/pages/Contact/contact.tsx
Labels: Feature, Frontend

#189 FEAT: Create naolib trigger
  express-backend/cron/NaolibCron.ts
  express-backend/cron/UpdateCron.ts
  express-backend/package-lock.json
  express-backend/scripts/createNaolibTrigger.ts
  express-backend/scripts/createServices.ts
  express-backend/scripts/createTriggerTemplate.ts
  express-backend/scripts/initTemplates.ts
  express-backend/scripts/scryptfetchtram.ts
Labels: enhancement, Backend, Feature

#194 REFACTOR: I've updated the about.json
  express-backend/routes/about.ts
Labels: documentation, Backend

#188 FEAT: create homepage explore link back & CSS (FNW-23)
  react-frontend/src/components/Explore/ExploreNavbar.tsx
  react-frontend/src/pages/Explore/explore.tsx
Labels: enhancement, Feature, Frontend

#196 FEAT: Adding clear button (FNW-126)
  react-frontend/src/components/Create/workflowStep.tsx
Labels: Feature, Frontend

#204 FIX: Added the token date when register (FNW-139)
  react-frontend/src/services/auth/auth.tsx
Labels: bug, Frontend

#186 FEAT: Link oauth2 button in configs for services (FNW-115)
  express-backend/routes/spotify.ts
  react-frontend/src/components/Create/templatesTypes.tsx
  react-frontend/src/components/Create/workflowSetup.tsx
  react-frontend/src/services/OAuth2/oauth2.tsx
Labels: Backend, Feature, Frontend

#206 FEAT: Create table samples plums
  express-backend/index.ts
  express-backend/prisma/migrations/20250116141619_/migration.sql
  express-backend/prisma/migrations/20250116141922_/migration.sql
  express-backend/prisma/schema.prisma
  express-backend/routes/samplePlums.ts
Labels: enhancement, Backend

#210 FIX: Replace fetch requests by axios (FNW-142)
  express-backend/scripts/createActionTemplate.ts
  express-backend/scripts/createTriggerTemplate.ts
  react-frontend/src/pages/Explore/explore.tsx
  react-frontend/src/pages/Services/services.tsx
  react-frontend/src/services/Providers/providers.tsx
Labels: bug, Frontend

#215 FIX: Size of the services cards (FNW-146)
  react-frontend/src/pages/Explore/explore.tsx
Labels: Frontend, Improvement

#220 REFACTOR: Change login/signup image on the right (FNW-143)
  react-frontend/src/assets/login/website_screenshot.png
  react-frontend/src/pages/Login/login.tsx
  react-frontend/src/pages/Login/mockup.css
  react-frontend/src/pages/Signup/signup.tsx
Labels: Frontend, Improvement

#222 FEAT: Create page to redirect after oauth2 connection (FNW-134)
  express-backend/index.ts
  express-backend/prisma/migrations/20250118171041_add_auth_route_services/migration.sql
  express-backend/prisma/schema.prisma
  express-backend/routes/spotify.ts
  express-backend/routes/token.ts
  express-backend/scripts/createServices.ts
  express-backend/scripts/createTriggerTemplate.ts
  react-frontend/src/assets/icons/service.svg
  react-frontend/src/components/Create/templatesTypes.tsx
  react-frontend/src/components/Create/workflowSetup.tsx
  react-frontend/src/components/Navbar/navbar.tsx
  react-frontend/src/pages/App/App.tsx
  react-frontend/src/pages/MyServices/myServices.tsx
  react-frontend/src/pages/OAuthRedirect/oauthRedirect.tsx
  react-frontend/src/services/OAuth2/oauth2.tsx
  react-frontend/src/services/Providers/providers.tsx
Labels: Backend, Feature, Frontend

#219 FIX: Filters working (FNW-145)
  react-frontend/src/pages/MyPlums/myPlums.tsx
Labels: bug, Frontend

#221 REFACTOR: Add a field in the template
  express-backend/cron/weatherCron.ts
  express-backend/scripts/createTriggerTemplate.ts
Labels: enhancement, Backend

#231 FEAT: Make a script to initialise sample plums
  express-backend/index.ts
  express-backend/routes/samplePlums.ts
  express-backend/scripts/createSamplePlums.ts
Labels: Backend, Improvement

#229 FEAT: Handle succeeded or failed creation/update of plums (FNW-132)
  react-frontend/src/pages/Create/create.tsx
  react-frontend/src/services/Plums/plums.tsx
Labels: Feature, Frontend

#237 REFACTOR: Differentiate spotify login for both web and mobile
  express-backend/routes/spotify.ts
Labels: Backend, Improvement

#238 FEAT: Dark mode CSS (FNW-117)
  react-frontend/src/components/Create/templatesTypes.tsx
  react-frontend/src/components/Create/workflowSetup.tsx
  react-frontend/src/components/Create/workflowStep.tsx
  react-frontend/src/components/Explore/ExploreNavbar.tsx
  react-frontend/src/components/Filter/Filter.tsx
  react-frontend/src/components/Filter/ServiceDrop.tsx
  react-frontend/src/components/Filter/StatusDrop.tsx
  react-frontend/src/components/Footer/Footer.tsx
  react-frontend/src/components/Navbar/navbar.tsx
  react-frontend/src/pages/Contact/contact.tsx
  react-frontend/src/pages/Create/create.tsx
  react-frontend/src/pages/Explore/explore.tsx
  react-frontend/src/pages/Login/login.tsx
  react-frontend/src/pages/MyPlums/myPlums.tsx
  react-frontend/src/pages/MyServices/myServices.tsx
  react-frontend/src/pages/Services/services.tsx
  react-frontend/src/pages/Signup/signup.tsx
  react-frontend/src/pages/Welcome/welcome.tsx
  react-frontend/src/services/auth/auth.tsx
  react-frontend/tailwind.config.js
Labels: enhancement, Feature
